.modelbg{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: rgba(55,55,55,.6);
  z-index:100;
}
.modelWrap{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:100;
}
.content{
  position: relative;
  top: 150px;
  margin: 0 auto;
  background: #fff;
  min-height:300px;
  min-width:500px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
